Task02_Heart/
Task02_Heart.tar
extracted_data
demoImage.hdf5
Technical Task Assignment Instructions (View Only).pdf
Task01_BrainTumour.tar
test_image/
nnUNet
nnUNet_preprocessed
nnUNet_raw
nnUNet_results
Implementation/__pycache__
Implementation/wandb